@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Permanent+Marker&display=swap);
.banner {
  width: 100%;
  height: 50px;
  background-color: var(--light-blue);
  margin: 0px auto;
}
.hdr-banner {
  width: 72%;
  display: flex;
  justify-content: space-between;
  color: white;
}

/*styling for the helpdesk page starts here */
.email p,
.contact p {
  padding-top: 1.5rem !important;
  color: white;
  font-size: larger;
}
.helpcenter {
  width: 50%;
  margin: auto;
}
.heading {
  text-align: center;
  background-color: white;
  height: 2rem;
}
.heading h4 {
  padding-top: 7px !important;
}
.body {
  margin-top: 10px !important;
  background-color: white;
  padding: 20px !important;
}
.b-1 {
  text-align: left;
  padding: 10px 0px !important;
}
.b-2 {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(223, 222, 222);
  padding: 10px !important;
}
.b-2-2-1,
.b-2-2-2 {
  display: flex;
  /* justify-content: space-between; */
}
.b-2-2-1,
.b-2-2-2 {
  padding: 10px 0px !important;
}
.b-3 {
  padding: 20px 0px !important;
  text-align: center;
}
.contact-cards p {
  color: #777777 !important;
}
.contact-cards {
  display: flex;
  justify-content: space-between;
  flex: 3;
  width: 75%;
  margin: auto !important;
}
.email0,
.call0,
.location0 {
  flex: 1;
  text-align: center;
  border: 2px solid #8dc8ff;
  margin: 10px !important;
  padding: 20px 5px !important;
}
.email0:hover,
.call0:hover,
.location0:hover {
  border: 2px solid #1f93ff;
}
.email0 p,
.call0 p,
.location0 p {
  margin: 20px 0px !important;
}
/*styling for aboutus starts here*/
.container-ctr {
  width: 85%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  flex: 1;
  width: 600px;
  font-family: "Montserrat", sans-serif;
  color: #888888;
  margin: 0px 25px;
}
.hero-content h2 {
  color: #081828;
  font-size: 18px;
  margin-bottom: 20px;
}
.hero-content p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
}
.hero-image img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.aboutbeacon {
  width: 85%;
  margin: auto !important;
  text-align: left;
}
.aboutbeacon h2 {
  padding-top: 70px;
  color: #081828;
}
.aboutbeacon p {
  color: #888888;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

/*mission vission styling */
.wrapper-ctr {
  background-color: #f9f9f9;
}
.wrapper-ctr .header {
  width: 100%;
  height: 50px;
  /* background: #e36686; */
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}

.cards_wrap {
  padding: 10px;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards_wrap .card_item {
  padding: 15px 25px;
  width: 50%;
}

.cards_wrap .card_inner {
  border: 1px solid #eee;

  background: #fff;
  border-radius: 6px;
  padding: 30px 20px;
  min-width: 225px;
  min-height: 255px;
  max-height: 370px;
  width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.cards_wrap .card_item .card_inner i {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  background-color: #0071c2;
  color: #fff;
  font-size: 20px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 4px 6px #0000002a;
  box-shadow: 0px 4px 6px #0000002a;
  margin-bottom: 25px;
}

.cards_wrap .card_item .role_name {
  color: #081828;
  font-weight: 900;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards_wrap .card_item .film {
  font-size: 15px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888888;
}

/*Stlying for the booking manual page starts here
*/

.bookingmanual {
  width: 80%;
  margin: auto !important;
  /* padding: 20px !important; */
}
.bookheading {
  background-color: white;
  padding: 20px 10px 20px 10px !important;
}
.bookheading p {
  padding-top: 20px !important;
}
.bookdetails {
  background-color: white;
  padding: 0px 5px 20px 10px !important;
}
.bookdetails h4 {
  margin-top: 10px !important;
  padding: 10px 0px !important;
}
.bookdetails p {
  padding: 10px 5px 10px 10px !important;
}
.payment {
  margin-top: 10px !important;
  background-color: white;
  padding: 20px 10px !important;
}
.payment p {
  padding: 10px !important;
}
.payment h5 {
  color: #1f93ff;
  /* padding-top: 10px !important; */
}

/*
Stlying for the booking manual page stops here
*/

.message {
  display: flex;
  flex: 2;
  width: 85%;
  margin: auto;
  background-color: #f1f5f9;
  padding-top: 40px;
}
.message-image {
  flex: 1;
}
.message-content {
  padding-left: 20px;
  flex: "1";
}
.message-content h2 {
  color: #1742a6;
  padding-bottom: 20px;
}

@media screen and (max-width: 786px) {
  .bookingmanual {
    width: 100%;
  }
  .banner {
    height: 2rem;
    width: 100% !important;
  }
  .email p,
  .contact p {
    padding-top: 0.5rem !important;
    font-size: small;
  }
  .helpcenter {
    width: 90%;
  }
  .b-2 {
    display: grid;
    grid-template-columns: 1;
  }
  .contact-cards {
    display: grid;
    grid-template-columns: 1;
    width: 95%;
  }
  .help-container {
    overflow-x: hidden;
  }

  .aboutbeacon p {
    color: black;
    font-size: small;
  }
  .container-ctr {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }

  .hero-content {
    width: 100%;
    margin: 35px 0px;
  }
  .hero-content p {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .hero-image {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33%;
  }
}

@media screen and (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }
  .wrapper .header {
    font-size: 16px;
    height: 60px;
  }
}

@media screen and (max-width: 568px) {
  .cards_wrap .card_item {
    width: 100%;
  }
  .wrapper .header {
    font-size: 14px;
  }
}
