.h_ctr{
  background-color: var(--light-blue);
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 3rem; */
  color: #fff;

}
.reg_ctr{
    width: 70%;
    margin: 15px auto;
}
.register-inputs-ctr-divided {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
  }
  .cdd {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }


  @media screen and (max-width: 768px) {
    .reg_ctr {
      width: 95%;
      margin: 10px auto;
    }
  }