.___profile-ctr {
  width: 80%;
  margin: 25px auto;
  display: flex;
}
.___profile-ctr > div:nth-child(1) {
  flex: 0.5;
  margin-right: 10px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.___profile-ctr > div:nth-child(2) {
  flex: 2;
  margin-left: 10px;
}
.___profile-ctr > div:nth-child(1) div {
  display: flex;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}
.user-link {
  display: flex;
  align-items: center;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px !important;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.user-link > span {
  margin-left: 5px;
}
.user-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  color: var(--light-blue);
}
.user-link.active {
  background-color: #ccc;
  color: white;
}
.user-link:last-child {
  font-size: 14px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.___profile-ctr > div:nth-child(2) > div:first-child {
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  padding: 10px;
  font-weight: bold;
}

.___cad {
  /* box-shadow: 0px 0px 10px #cccbcb; */
  border-radius: 5px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  border-top: 1px solid rgb(0, 0, 0, 0.2);
  border-right: 1px solid rgb(0, 0, 0, 0.2);
  border-left: 1px solid rgb(0, 0, 0, 0.2);
}
.___cad_te {
  margin-top: 4rem;
}
.___mge_ac {
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-weight: 500;
  padding-left: 1.8rem !important;
}
/*___profile css ___*/
.__input_ctr {
  width: 100%;
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
}
.inpts_center {
  flex: 1;
}
.__inputs_on_left {
  flex: 1;
}
.__inputs_on_right {
  flex: 1;
}

.user-data-ctr {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  column-gap: 2rem;
  row-gap: 1rem;
}
.user-data-ctr > div {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.user-data-ctr > div > div:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-weight: bold;
}
.user-data-ctr > div > div:not(:first-child) {
  margin: 10px;
}
.user-data-ctr > div > div:not(:first-child) > div:first-child {
  font-size: 13px;
  font-weight: bold;
  opacity: 0.8;
}

/* .cd {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
  } */
/*bookings table css */
.card-header,
.card-body {
  padding: 1rem;
}
.card-body table tr td {
  padding: 15px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.card-header button {
  background: var(--main-color);
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1rem;
}
table {
  border-collapse: collapse;
}
thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
thead td {
  font-weight: 700;
}

.tr-border > tr {
  border-bottom: 1px solid #f0f0f0;
}
td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
  white-space: nowrap;
}

/*___close account___*/
.__act_t p {
  line-height: 20px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

._close_ctr {
  justify-content: left;
  align-items: inherit;
}
.--tables-- {
  max-width: 1053px !important;
  overflow: scroll;
}
@media only screen and (max-width: 1024px) {
  .lab_tbl_ctr {
    overflow-x: scroll;
  }
  .lab_tbl_ctr table {
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .___profile-ctr > div:nth-child(1) {
    font-size: 10px;
  }
  .user-link {
    margin: 2px 8px;
    padding: 5px;
    font-size: 10px !important;
  }
  .___profile-ctr {
    width: 96%;
    margin: 15px auto;
  }
  .___profile-ctr > div:first-child {
    display: none;
  }
  .card-body {
    overflow: auto;
  }
  .___projects {
    grid-template-columns: 100%;
    grid-gap: 1.5rem;
  }
  .__cl_aa {
  }
  .--tables-- {
    max-width: 333px !important;
    overflow: scroll;
  }
}
