.p_text404 {
  margin: 0 auto 90px;
  width: 70%;
  line-height: 1.5;
}
p {
  color: #7b7b7b;
  margin: 0px 0px 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.error_text {
  margin: 0 0 15px;
  color: #444;
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
}
.__img {
  align-items: center  ;
  justify-content: center;
  text-align: center;
}
.__img img {
  height: 30%;
  width: 30%;
  margin: 0px auto;

}
@media screen and (max-width: 768px) {
  .__img img {
    height: 100%;
    width: 100%;
  }
  .error_text {
    margin: 0 0 15px;
    font-size: 15px;
  }
}
