/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;1,600&family=Kanit:wght@500&family=Montserrat:ital,wght@1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/ocr-a-extended");

:root {
  --nav-width: 68px;
  --header-height: 45px;

  --font-family: "Montserrat", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --color-dark: #333;

  --color-grey: #eee;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  --color-purple: #9d0191;
  --color-orange: #ff7722;

  --color-primary: #007bff;
  --color-success: #28a745;
  --color-danger: orangered;
}
::-webkit-scrollbar {
  background-color: whitesmoke;
  width: 0.4vw;
}

::-webkit-scrollbar-thumb {
  width: 0.4vw;
  background: #1a5ba6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);
  background: rgb(251, 250, 250);
  font-size: 14px;
}
a {
  text-decoration: none;
  color: black;
}

.-s {
  box-shadow: 0px 0px 10px #cccbcb;
}
.overflow-x-hidden{
  overflow-x: hidden;
}
.overflow-y-hidden{
  overflow-y: hidden;
}

.scroll-top {
  width: 45px;
  height: 45px;
  line-height: 45px;
  background: #1a5ba6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff !important;
  position: fixed;
  bottom: 35px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  transition: all .3s ease-out 0s;
  /* border-radius: 20px */
}
.chevron_up i{
  font-size: 25px;
  display: inline-block;
  display: flex;
  align-items: flex-start;
  line-height: 1.4;
  margin-left: 0.5em;
  padding: 0.15em;


}
.c_card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  padding: 20px;
  
}
.recent-grid {
  margin-top: 1rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 50% auto;
}
.recent-grid-left {
  margin-top: 1rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 60% auto;
}
.recent-grid-right {
  margin-top: 1rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto 60%;
}
.fullwidth-ctr {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 100% auto;
}
.card {
  margin-top: 10px;
  height: fit-content;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 6px 6px 9px #dee1e5, -2px -2px 5px #ffffff;
}
.card-header,
.card-body {
  padding: 1rem;
}
.card-body table tr td {
  padding: 15px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.card-header button {
  background: var(--main-color);
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1rem;
}
table {
  border-collapse: collapse;
}
thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
thead td {
  font-weight: 700;
}

.tr-border > tr {
  border-bottom: 1px solid #f0f0f0;
}
td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
  white-space: nowrap;
}




