
.slider-content{
    overflow-y: hidden;
}
.slider-item{
    max-height: 300px;
}
.___contnr{
    // max-width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}
img{
    width: 100%;
    display: block;
}
@media screen and (max-width: 768px) {
    .___contnr{
        max-width: 100%;
        margin: 0;
        padding: 0 ;
    }
    .slider-item{
        height: 11rem;
    }

}
